@using CLEANSHOP.Models
@{
    Customer kh = (Customer)Session["TaiKhoan"];
}
<a class="getstarted scrollto active" href="@Url.Action("Ten","GioHang")" style="font-weight:bold;text-decoration:none">
    Ten:@kh.Name
</a>
